@model WorkshopApp.Models.Student

@{ ViewData["Title"] = "Details";
                var photoPath = "~/StudentImages/" + (Model.profilePicture ?? "noImage.webp"); }

<h1>Детали</h1>

<div>
    <hr />
    <img src="@photoPath"
         height="200" width="200"
         asp-append-version="true" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcquiredCredits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcquiredCredits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSemestar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentSemestar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel)
        </dd>

   
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Промени</a> |
    <a asp-action="Index">Назад кон листата</a>
</div>

