@model WorkshopApp.ViewModels.CourseFilterViewModel

@{
    ViewData["Title"] = "Index";
}







<h1>Предмети</h1>

<p>
    <a asp-action="Create">Додади предмет</a>

</p>

<form asp-controller="Courses" asp-action="Index" method="get">
    <p>
        Наслов: <input type="text" asp-for="SearchTitle" />
        Програма: <select asp-for="CourseProgram" asp-items="Model.ProgramList">
            <option value="">Сите</option>
        </select>
        Семестар: <select asp-for="CourseSemester" asp-items="Model.SemesterList">

            <option value="">Сите</option>
        </select>
        <input type="submit" value="Филтер" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].EducationLevel)
            </th>
            <th nowrap="nowrap">
                @Html.DisplayNameFor(model => model.Courses[0].FirstTeacher)
            </th>
            <th nowrap="nowrap">
                @Html.DisplayNameFor(model => model.Courses[0].SecondTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Students)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
        <tr>
            <td nowrap="nowrap">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td nowrap="nowrap">
                @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
            </td>
            <td nowrap="nowrap">
                @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
            </td>
            <td nowrap="nowrap">
                @foreach (var student in item.Students)
                {
                    <a asp-controller="Students" asp-action="Details" asp-route-id="@student.StudentId"> @student.Student.FullName </a> <br />

                }
               
            </td>
            <td nowrap="nowrap">
                <a asp-action="Edit" asp-route-id="@item.Id">Промени</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Избриши</a> <br />
            </td>
        </tr>
        }
    </tbody>
</table>
